{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<!--------------------------Header section ----------------------------------->

<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <div class="site-logo mr-auto w-25"><a href="index.html">Guitar<a style="color: #d70303;"
                        href="index.html">PickUp</a></a></div>

            <div class="mx-auto text-center">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                        <li><a href="/" class="nav-link">Home</a></li>
                        <li><a href="/" class="nav-link">About Us</a></li>
                        <li><a href="/" class="nav-link">Programs</a></li>
                        <li><a href="/" class="nav-link">Contact Us</a></li>
                    </ul>
                </nav>
            </div>

            <div class="ml-auto w-25">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                        {% if request.user.is_authenticated%}
                        <p>Welcome {{request.user}}</p>
                        <li class="cta"><a href="{% url 'logout' %}" class="nav-link"><span>Logout</span></a></li>
                        {% else %}
                        <li class="cta"><a href="{% url 'login' %}" class="nav-link"><span>Login</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
                <a href="#"
                    class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
                        class="icon-menu h3"></span></a>
            </div>
        </div>
    </div>

</header>

<!--------------------------Home section ----------------------------------->

<div class="intro-section" id="programs-section" style="width:100%; background-color: white; overflow-x: hidden; overflow-y: hidden;">
    <div class="slide-1">

        <div class="container">

            <div style="  position: absolute;left: 25%;top: 20%;min-width:100%;min-height:100%;">
                
                    <video id="video-demo" width="800" height="600" controls style="object-fit: fill;">
                        <source src="/static/images/video1.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                      </video>
            
            </div>
            <div style=" position: absolute;left: 12%;top: 20%;min-width:100%;min-height:100%;">
                <div class="container">
                    <video class="input_video" style="display:none"></video>
                    <canvas class="output_canvas" width="600" height="400"></canvas>
                  </div>

            </div>
            <script type="module">
                document.getElementById("start-record").style.display="none";
                document.getElementById("end-record").style.display="none";
                document.getElementById("submit").style.display="none";
                document.getElementById("feedback_table").style.display="none";
                let video = document.querySelector("#video");
                let start_camera = document.querySelector("#start-camera");
                let start_button = document.querySelector("#start-record");
                let stop_button = document.querySelector("#end-record");
                let download_link = document.querySelector("#download-video");

                let camera_stream = null;
                let media_recorder = null;
                let blobs_recorded = [];
                let note_positions = [];
                const videoElement = document.getElementsByClassName('input_video')[0];
                const canvasElement = document.getElementsByClassName('output_canvas')[0];
                const canvasCtx = canvasElement.getContext('2d');
                var indexFinger = document.getElementById("index");
                var middleFinger = document.getElementById("middle");
                var ringFinger = document.getElementById("ring");
                var pinkyFinger = document.getElementById("pinky");
                function onResults(results) {
                  canvasCtx.save();
                  canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
                  canvasCtx.drawImage(
                      results.image, 0, 0, canvasElement.width, canvasElement.height);
                  if (results.multiHandLandmarks) {
                      var left_hand;
                      var right_hand;
                      for (var i = 0; i < 2; i++) {
                          if (results.multiHandedness[i]) {
                            if (results.multiHandedness[i]['label'] == "Left") {
                                left_hand = results.multiHandLandmarks[i];
                            } else if (results.multiHandedness[i]['label'] == "Right"){
                                right_hand = results.multiHandLandmarks[i];
                            }
                        }
                      }

                    // identify an element to observe
                    let elementToObserve = document.getElementById('noteID');
                    
                    // create a new instance of 'MutationObserver' named 'observer', 
                    // passing it a callback function
                    let note_changed = document.getElementById('noteID').innerHTML;   
                    let observer = new MutationObserver(function (mutationsList, observer) {
                        //console.log(mutationsList);
                        //console.log(note_changed);
                        //console.log(document.getElementById('noteID').innerHTML)
                        //console.log(note_changed != document.getElementById('noteID').innerHTML);
                        if(note_changed != document.getElementById('noteID').innerHTML)
                        {
                            note_changed = document.getElementById('noteID').innerHTML;
                            let index_class = document.getElementById('index').innerHTML;
                            let middle_class = document.getElementById('middle').innerHTML;
                            let ring_class = document.getElementById('ring').innerHTML;
                            let pinky_class = document.getElementById('pinky').innerHTML;
                            //console.log('noticable change');
                            //console.log(note_changed);
                            note_positions.push({'index':index_class == 'correct',
                                                'middle':middle_class == 'correct',
                                                'ring':ring_class == 'correct',
                                                'pinky':pinky_class == 'correct',
                                                'note':note_changed
                                            });
                            //console.log(note_positions);

                            
                            //save classes and note 
                        }
                        
                        
                        
                    });

                    // call 'observe' on that MutationObserver instance, 
                    // passing it the element to observe, and the options object
                    observer.observe(elementToObserve, { characterData: true, childList: true, attributes: false });
                    
                    $.ajax({
                        url: '/validate_hands',
                        data: {
                            'right_hand': JSON.stringify(right_hand),
                        },
                        method :'POST',
                        dataType: 'json',
                        success: function (data) {
                            //console.log(data);
                            if (data["index"]) {
                                $('#index').text(data['index']);
                                $('#ring').text(data['ring']);
                                $('#middle').text(data['middle']);
                                $('#pinky').text(data['pinky']);
                                //console.log(data);
                                //$('#note').text(data['note']);
                            }
                        }
                    });
                    for (const landmarks of results.multiHandLandmarks) {
                      drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS,
                                     {color: '#00FF00', lineWidth: 5});
                      drawLandmarks(canvasCtx, landmarks, {color: '#FF0000', lineWidth: 2});
                    }
                  }
                  canvasCtx.restore();
                }
                var myPlayer = new kwgVideo('#video-demo'); 

                const hands = new Hands({locateFile: (file) => {
                  return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
                }});
                hands.setOptions({
                  maxNumHands: 2,
                  modelComplexity: 1,
                  minDetectionConfidence: 0.5,
                  minTrackingConfidence: 0.5
                });
                hands.onResults(onResults);
                camera_stream = null;
                start_camera.addEventListener('click', async function() {
                    document.getElementById("start-camera").style.display="none";
                    document.getElementById("start-record").style.display="";
                    document.getElementById("end-record").style.display="";
                    document.getElementById("video-demo").style.display="none";
                    myPlayer.destroy();
                    const camera = new Camera(videoElement, {
                    onFrame: async () => {
                        await hands.send({image: videoElement});
                        },
                        width: 450,
                        height: 350
                    });
                    camera.start();
                    camera_stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: true });
                    console.log(camera_stream);
	                video.srcObject = camera_stream;
                });
                
                media_recorder = null;
                start_button.addEventListener('click', function() {
                    var input = this;
                    input.disabled = true;
                    document.getElementById("feedback_table").style.display="";
                    // set MIME type of recording as video/webm
                    //console.log(camera_stream);
                    media_recorder = new MediaRecorder(camera_stream, { mimeType: "video/webm; codecs=vp8" });

                    // event : new recorded video blob available 
                    media_recorder.addEventListener('dataavailable', function(e) {
                        //console.log(blobs_recorded);
                        blobs_recorded.push(e.data);
                    });

                    // event : recording stopped & all blobs sent
                    media_recorder.addEventListener('stop', function() {
                        // create local object URL from the recorded video blobs
                        let video_local = URL.createObjectURL(new Blob(blobs_recorded, { type: "video/webm; codecs=vp8" }));
                        console.log(video_local);
                        download_link.href = video_local;
                    });

                    // start recording with each recorded blob having 1 second video
                    media_recorder.start(1000);
                });

                stop_button.addEventListener('click', function() {
                    var input = this;
                    input.disabled = true;
                    document.getElementById("start-record").style.display="none";
                    document.getElementById("end-record").style.display="none";
                    document.getElementById("feedback_table").style.display="none";
                    document.getElementById("submit").style.display="";
                    media_recorder.stop(); 
                    //onResults.stop();

                    
                            $.ajax({
                                url: '/record_feedback',
                                method: "POST",
                                data: {
                                    'positions': JSON.stringify(note_positions),
                                    

                                },
                                dataType: 'json',
                                success: function (data) {
                                    console.log('success');

                                }
                            });

                });
                
                $("#submit").on("click", function (event) {
                    event.preventDefault();
                    let btn = $(this);
                    //   change the button text and disable it
                    btn.html("Submitting...").prop("disabled", true).addClass("disable-btn");
                    //   create a new File with the recordedData and its name
                    const savingblob = new Blob(blobs_recorded , {type: "video/webm; codecs=vp8"});
                    const recordedFile = new File( [ savingblob ], "test.webm", { type: "video/webm; codecs=vp8"} );
                    //   initializes an empty FormData
                    let data = new FormData();
                    //   appends the recorded file and language value
                    data.append("excercise_video", recordedFile);
                    //   post url endpoint
                    const url = "";
                    $.ajax({
                        url: '/record',
                        method: "POST",
                        data: data,
                        dataType: "json",
                        success: function (response) {
                            alert('passed');
                            if (response.success) {
                                document.getElementById("alert").style.display = "block";
                                window.location.href = `${response.url}`;
                            } else {
                                btn.html("Error").prop("disabled", false);
                            }
                        },
                        error: function (error) {
                        console.error(error);
                        },
                        cache: false,
                        processData: false,
                        contentType: false,
                    });
                });
                    

                // using jQuery
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');

                //Now use it on ajax 
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                </script>
        </div>
        <div style="position:absolute; text-align: center; width:100%; bottom:25%; left:-4%"><button id="start-camera" class="btn btn-primary py-3 px-5 btn-pill exercise">Open camera</button></div>
        <button id="start-record" class="btn btn-primary py-3 px-5 btn-pill exercise" style="position:absolute; text-align: center; width:300px; bottom:25%; left:20%">Start Excercise</button>
        <button id="end-record" class="btn btn-primary py-3 px-5 btn-pill exercise" style="position:absolute; text-align: center; width:300px; bottom:25%; left:65%">End Excercise</button>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <div style="position:absolute; text-align: center; width:100%; bottom:25%"><button id="submit" class="btn btn-primary py-3 px-5 btn-pill exercise">Submit Excercise</button></div>
            </div>
        </form>

        <div id="feedback_table" style="position: absolute; text-align: center; width:100%; bottom:2%; background-color: white; color: black; width: 300px; height: 240px; margin-left: auto; margin-right: auto; left: 0; right: 0;">
            Feedback
            <hr>
            <dl>
                <dt>note</dt>
                <!--<dd id="note">asd</dd>-->
                <dd id="noteID">A</dd>
                <dt>Index</dt>
                <dd id="index">0.2</dd>
                <dt>Middle</dt>
                <dd id="middle">0.2</dd>
                <dt>Ring</dt>
                <dd id="ring">0.2</dd>
                <dt>Pinky</dt>
                <dd id="pinky">0.2</dd>
                
                
                
            
            </dl>        
        </div>
        

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/aubiojs"></script>
<script src="/static/js/tuner.js"></script>
<script src="/static/js/meter.js"></script>
<script src="/static/js/notes.js"></script>
<script src="/static/js/app.js"></script>

<!--------------------------Contact us section ----------------------------------->

<!--------------------------Footer section ----------------------------------->
{% endblock %}
